@tailwind base;
@tailwind components;
@tailwind utilities;

@import "testing.css";

@layer utilities {
}

@layer components {
  .app {
    @apply flex w-screen h-screen;
  }
  .layout {
    @apply relative flex max-w-full max-h-full overflow-x-hidden grow;
  }
  .page {
    @apply p-4 flex max-w-full overflow-y-auto grow bg-background;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #cccccc;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #707070;
    border-radius: 5px;
    height: 5px;
  }
}
